NEXT_PUBLIC_SUPABASE_URL=https://vahpogwusitwodtoafag.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhaHBvZ3d1c2l0d29kdG9hZmFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MjU0MjYsImV4cCI6MjEwMDMwMTQyNn0.4dUeNe7HZS8fVqFsv0t1cZnKIAPj50DT8Ot17yLzJlw
NEXT_PUBLIC_API_BASE_URL=sb_publishable_fPFYVOH2RARttDMx9mE0FQ_hJ-iJ54b
